@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .lift {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .lift:hover {
        transform: translateY(var(--lift-value, 0px));
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

    .hover-slide {
        transition: transform 0.3s ease-in-out;
    }
    .hover-slide:hover {
        transform: translate(var(--slide-x, 0px), var(--slide-y, 0px));
    }

    .gradient-text {
        background: linear-gradient(to right, var(--color-start, red), var(--color-end, blue));
        background-clip: text;
        color: transparent;
    }

    @keyframes slideLeft {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0%);
        }
    }

    @keyframes slideUp {
        from {
            transform: translateY(100%);
        }
        to {
            transform: translateY(0%);
        }
    }

    .slide-left {
        animation: slideLeft 300ms ease-in-out;
    }
    .slide-up {
        animation: slideUp 300ms ease-in-out;
    }
    
    @keyframes rotateUp {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(180deg);
        }
    }

    .rotate-up {
        animation: rotateUp 300ms forwards;
    }

    @keyframes rotateDown {
        from {
            transform: rotate(180deg);
        }

        to {
            transform: rotate(0deg);
        }
    }

    .rotate-down {
        animation: rotateDown 300ms forwards;
    }
}

@font-face {
    font-family: "ChessLogo";
    src: url("/public/Danfo-Regular-VariableFont_ELSH.ttf");
}
